main {
  display: flex;
  height: 100vh;
  font-family: "Chillax", sans-serif;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.form-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 0.5em;
  border: 1px solid var(--shade-1);
  padding: 2em 0 3.5em 0;
}

.form-section-content h1 {
  color: var(--shade-3);
}

.mydas-logo {
  width: 150px;
}

.google-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 1px solid var(--shade-2);
  border-radius: 50px;
  padding: 0.7em 0.5em;
  margin-top: 0.5em;
  margin-bottom: 2em;
  cursor: pointer;
}

.google-con img {
  width: 25px;
  margin-right: 0.75em;
}

.google-con button {
  all: unset;
  color: var(--shade-3);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Chillax", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form label {
  margin-bottom: 0.125em;
  font-size: 1.6rem;
}

form input {
  border: 1px solid var(--shade-2);
  border-radius: 0.25em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.forgot-password-btn {
  all: unset;
  align-self: flex-end;
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.login-btn {
  all: unset;
  align-self: flex-start;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  color: var(--shade-1);
  background-color: var(--primary);
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  cursor: pointer;
}

.banner-section {
  width: 55%;
}

.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* font-family: 'Spline Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Supreme', sans-serif;
font-family: 'Recia', serif;
font-family: 'Zina', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'Merriweather Sans', sans-serif; */
