.products-header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7em;
}

.sort-by-con {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}

.sort-by-con h3 {
  margin-right: 0.5em;
  color: var(--shade-3);
  font-size: 1.8rem;
}

.sort-by-con select {
  outline: none;
  border: none;
  color: var(--shade-3);
  font-size: 18px;
  font-weight: 600;
}

.filter-icon {
  margin-right: 0.25em;
  color: var(--shade-3);
  font-size: 26px;
}
