*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  font-size: 62.5%;
}

body {
  margin: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
